$color__background-body: #f6f6f6;
$color__background-footer: #d44d5c;
$color__background-header: #d44d5c;

$color__background-pre: #eeeeee;
$color__background-ins: #fff9c0;

$color__text-main: #666666;
$color__text-input: #888888;

$color__header-text: '#faedee';
$color__header-link: '#faedee';
$color__header-link-hover: #ffffff;

$color__footer-text: #d44d5c;
$color__footer-link: '#faedee';
$color__footer-link-hover: #d44d5c;
$color__footer-headings: #ffffff;
    
$color__link: #444444;
$color__link-hover: #d44d5c;
$color__headings: #444444;

$color__background-button: #d44d5c;
$color__background-button-hover: #c53e4d;
$color__text-button: #ffffff;
$color__text-button-hover: #ffffff;
$color__border-button: #d44d5c;
$color__border-button-hover: #c53e4d;

// Other Colors
$color__blue: #2c9ab7;
$color__green: #54cba0;
$color__gray: rgba(0, 0, 0, 0.1);
$color__light-gray: rgba(0, 0, 0, 0.03);
$color__red: #e85c41;
$color__orange: #e67e22;